# Data Cleansing and Feature Engineering Activity
Use this notebook to perform some data cleansing and feature engineering on the London Fire Brigade data that can be found in 

datasets/London Fire Brigade/london_fire_brigade.csv

The original data came from here:

https://www.kaggle.com/jboysen/london-fire

## Import libraries

In [1]:
from dasi_library import *

## Load data

In [2]:
df = readCsv("../datasets/London Fire Brigade/london_fire_brigade.csv")
df

,borough_name,timestamp_of_call,postcode_full,easting_rounded,northing_rounded,property_category,property_type,incident_group,first_pump_arriving_attendance_time,first_pump_arriving_deployed_from_station,num_pumps_attending
0,CAMDEN,20/01/2017 08:57,W1T 7PD,529450,182050,Non Residential,Purpose built office,False Alarm,359.0,Euston,1.0
1,NEWHAM,21/04/2017 17:42,NaN,539650,183750,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,211.0,Stratford,1.0
2,WALTHAM FOREST,20/01/2017 18:21,E17 6RH,536950,189350,Non Residential,Local Government Office,Special Service,NaN,NaN,1.0
3,EALING,07/03/2017 11:27,W13 9YN,516650,180250,Non Residential,Underground car park,Special Service,295.0,Ealing,2.0
4,WANDSWORTH,04/02/2017 17:31,SW15 2SP,524250,174950,Non Residential,Pub/wine bar/bar,Special Service,533.0,Battersea,1.0
5,TOWER HAMLETS,08/01/2017 16:54,NaN,537350,181850,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Fire,247.0,Poplar,2.0
6,BROMLEY,17/03/2017 13:29,NaN,547750,168450,Dwelling,House - single occupancy,Fire,603.0,Orpington,4.0
7,LAMBETH,26/01/2017 17:25,SW4 9DT,529050,174650,Other Residential,Nursing/Care Home/Hospice,Special Service,342.0,Tooting,1.0
8,ENFIELD,13/01/2017 15:42,NaN,537450,198050,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,559.0,Enfield,1.0
9,HILLINGDON,08/03/2017 10:30,UB8 3QP,506850,182850,Other Residential,Hotel/motel,False Alarm,161.0,Hillingdon,NaN
10,BEXLEY,19/02/2017 00:15,DA14 6EN,546450,171650,Other Residential,Hotel/motel,False Alarm,205.0,Sidcup,NaN
11,ENFIELD,02/04/2017 12:03,NaN,534050,192050,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,273.0,Tottenham,1.0
12,HACKNEY,23/02/2017 14:36,NaN,532750,183650,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,339.0,Stoke Newington,1.0
13,HOUNSLOW,23/04/2017 21:27,NaN,514450,175750,Dwelling,Self contained Sheltered Housing,False Alarm,247.0,Heston,2.0
14,HOUNSLOW,27/04/2017 08:32,W4 3BD,519450,178050,Other Residential,Retirement/Old Persons Home,False Alarm,190.0,Chiswick,2.0
15,NOT GEO-CODED,01/01/2017 15:30,NaN,541450,194050,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,False Alarm,NaN,NaN,2.0
16,HAMMERSMITH AND FULHAM,08/02/2017 18:34,SW6 6PQ,523450,177050,Other Residential,Retirement/Old Persons Home,False Alarm,244.0,Fulham,2.0
17,BEXLEY,25/02/2017 15:06,NaN,545750,175250,Dwelling,House - single occupancy,Special Service,670.0,Eltham,1.0
18,MERTON,15/04/2017 07:10,SW19 1RF,524950,170550,Non Residential,Purpose built office,False Alarm,226.0,Wimbledon,2.0
19,BROMLEY,26/03/2017 18:30,BR5 4HQ,547550,166950,Outdoor,Tree scrub,Fire,321.0,Orpington,1.0
20,MERTON,26/01/2017 19:57,NaN,527950,170650,Dwelling,Converted Flat/Maisonettes - 3 or more storeys,Special Service,261.0,Norbury,1.0
21,ENFIELD,08/03/2017 08:35,N9 8NZ,534950,194550,Other Residential,Retirement/Old Persons Home,False Alarm,269.0,Edmonton,2.0
22,BROMLEY,12/03/2017 13:26,NaN,534850,169550,Dwelling,Self contained Sheltered Housing,Special Service,20.0,Woodside,1.0
23,CAMDEN,29/04/2017 04:09,NaN,529150,183750,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,417.0,Kentish Town,1.0
24,LAMBETH,03/01/2017 09:15,NaN,529650,171050,Dwelling,Converted Flat/Maisonette - Up to 2 storeys,Special Service,348.0,Tooting,1.0
25,LAMBETH,29/03/2017 11:13,SW16 1QL,529550,171650,Road Vehicle,Car,Special Service,317.0,Tooting,1.0
26,KINGSTON UPON THAMES,20/01/2017 14:47,KT6 4JZ,517950,167250,Outdoor Structure,Small refuse/rubbish container,Fire,575.0,Surbiton,NaN
27,SOUTHWARK,03/03/2017 18:55,SE5 7HN,532650,177050,Non Residential,Warehouse,False Alarm,269.0,Peckham,NaN
28,LAMBETH,22/01/2017 00:33,NaN,531350,175650,Dwelling,Purpose Built Flats/Maisonettes - 10 or more s...,Special Service,164.0,Brixton,1.0
29,NEWHAM,20/01/2017 21:29,NaN,541050,183950,Dwelling,Self contained Sheltered Housing,Fire,272.0,Stratford,2.0
30,ISLINGTON,28/03/2017 01:40,N1 0EP,531150,183850,Other Residential,Hostel (e.g. for homeless people),False Alarm,272.0,Euston,2.0
31,CROYDON,03/01/2017 08:29,NaN,532650,166850,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,388.0,Croydon,2.0
32,CAMDEN,25/01/2017 23:38,NaN,527150,185150,Dwelling,Converted Flat/Maisonettes - 3 or more storeys,Special Service,397.0,West Hampstead,2.0
33,LAMBETH,25/04/2017 23:35,NaN,529950,171150,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,250.0,Norbury,2.0
34,LAMBETH,01/02/2017 06:24,NaN,531350,175650,Dwelling,Self contained Sheltered Housing,False Alarm,142.0,Brixton,2.0
35,TOWER HAMLETS,04/03/2017 11:25,NaN,534050,182450,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,215.0,Bethnal Green,4.0
36,NEWHAM,22/01/2017 21:42,NaN,542450,185550,Dwelling,House - single occupancy,Special Service,389.0,Stratford,1.0
37,CROYDON,09/04/2017 15:36,NaN,532550,165950,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,NaN,NaN,1.0
38,KENSINGTON AND CHELSEA,19/02/2017 08:40,NaN,526150,178050,Dwelling,House - single occupancy,False Alarm,318.0,Fulham,2.0
39,SOUTHWARK,30/01/2017 14:19,NaN,532850,178550,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,304.0,Old Kent Road,2.0
40,KINGSTON UPON THAMES,31/01/2017 00:56,NaN,517850,169550,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,341.0,Kingston,2.0
41,BARNET,05/01/2017 17:23,NaN,526050,188350,Dwelling,House - single occupancy,False Alarm,552.0,Hendon,2.0
42,SOUTHWARK,13/02/2017 11:31,NaN,533650,178750,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,False Alarm,106.0,Old Kent Road,2.0
43,TOWER HAMLETS,27/04/2017 12:20,E2 7RU,533950,183050,Other Residential,Retirement/Old Persons Home,False Alarm,171.0,Shoreditch,1.0
44,BARNET,18/02/2017 21:38,NaN,525950,188650,Dwelling,House - single occupancy,Special Service,581.0,Finchley,1.0
45,ENFIELD,18/02/2017 18:57,N14 4NL,529250,195350,Road Vehicle,Car,Special Service,503.0,Barnet,2.0
46,ENFIELD,15/01/2017 10:42,EN1 1YP,534150,196550,Non Residential,Leisure Centre,False Alarm,419.0,Enfield,1.0
47,REDBRIDGE,07/03/2017 20:33,IG6 3TN,546550,192150,Non Residential,Secondary school,False Alarm,215.0,Hainault,1.0
48,BARNET,15/02/2017 16:43,N20 9LZ,526250,194350,Non Residential,Warehouse,False Alarm,495.0,Finchley,1.0
49,HILLINGDON,08/02/2017 17:17,NaN,507750,181550,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,336.0,Hillingdon,1.0

## Check data types

In [3]:
df.dtypes

borough_name                                  object
timestamp_of_call                             object
postcode_full                                 object
easting_rounded                                int64
northing_rounded                               int64
property_category                             object
property_type                                 object
incident_group                                object
first_pump_arriving_attendance_time          float64
first_pump_arriving_deployed_from_station     object
num_pumps_attending                          float64
dtype: object

## Check for nulls

In [4]:
checkForNulls(df)

borough_name                                 0.00
timestamp_of_call                            0.00
postcode_full                                0.58
easting_rounded                              0.00
northing_rounded                             0.00
property_category                            0.00
property_type                                0.00
incident_group                               0.00
first_pump_arriving_attendance_time          0.06
first_pump_arriving_deployed_from_station    0.06
num_pumps_attending                          0.08
dtype: float64

## Data cleansing
Think about what data cleansing we need to do

In [5]:
# TODO

The timestamp_of_call feature has a string data type, but should be datetime:

In [6]:
df["timestamp_of_call"] = convertToDateTime(df, "timestamp_of_call")

The num_pumps_attending feature has some nulls.  We can impute with the median:

In [7]:
df = imputeNullWithMedian(df, "num_pumps_attending")

Check the unique list of borough names:

In [8]:
listUnique(df, "borough_name")

['CAMDEN',
 'NEWHAM',
 'WALTHAM FOREST',
 'EALING',
 'WANDSWORTH',
 'TOWER HAMLETS',
 'BROMLEY',
 'LAMBETH',
 'ENFIELD',
 'HILLINGDON',
 'BEXLEY',
 'HACKNEY',
 'HOUNSLOW',
 'NOT GEO-CODED',
 'HAMMERSMITH AND FULHAM',
 'MERTON',
 'KINGSTON UPON THAMES',
 'SOUTHWARK',
 'ISLINGTON',
 'CROYDON',
 'KENSINGTON AND CHELSEA',
 'BARNET',
 'REDBRIDGE']

There is one value 'NOT GEO-CODED' that is effectively a null.  We could replace with null:

In [9]:
df = replaceValues(df, "borough_name", 'NOT GEO-CODED', np.nan)
df

,borough_name,timestamp_of_call,postcode_full,easting_rounded,northing_rounded,property_category,property_type,incident_group,first_pump_arriving_attendance_time,first_pump_arriving_deployed_from_station,num_pumps_attending
0,CAMDEN,2017-01-20 08:57:00,W1T 7PD,529450,182050,Non Residential,Purpose built office,False Alarm,359.0,Euston,1.0
1,NEWHAM,2017-04-21 17:42:00,NaN,539650,183750,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,211.0,Stratford,1.0
2,WALTHAM FOREST,2017-01-20 18:21:00,E17 6RH,536950,189350,Non Residential,Local Government Office,Special Service,NaN,NaN,1.0
3,EALING,2017-07-03 11:27:00,W13 9YN,516650,180250,Non Residential,Underground car park,Special Service,295.0,Ealing,2.0
4,WANDSWORTH,2017-04-02 17:31:00,SW15 2SP,524250,174950,Non Residential,Pub/wine bar/bar,Special Service,533.0,Battersea,1.0
5,TOWER HAMLETS,2017-08-01 16:54:00,NaN,537350,181850,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Fire,247.0,Poplar,2.0
6,BROMLEY,2017-03-17 13:29:00,NaN,547750,168450,Dwelling,House - single occupancy,Fire,603.0,Orpington,4.0
7,LAMBETH,2017-01-26 17:25:00,SW4 9DT,529050,174650,Other Residential,Nursing/Care Home/Hospice,Special Service,342.0,Tooting,1.0
8,ENFIELD,2017-01-13 15:42:00,NaN,537450,198050,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,559.0,Enfield,1.0
9,HILLINGDON,2017-08-03 10:30:00,UB8 3QP,506850,182850,Other Residential,Hotel/motel,False Alarm,161.0,Hillingdon,1.0
10,BEXLEY,2017-02-19 00:15:00,DA14 6EN,546450,171650,Other Residential,Hotel/motel,False Alarm,205.0,Sidcup,1.0
11,ENFIELD,2017-02-04 12:03:00,NaN,534050,192050,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,273.0,Tottenham,1.0
12,HACKNEY,2017-02-23 14:36:00,NaN,532750,183650,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,339.0,Stoke Newington,1.0
13,HOUNSLOW,2017-04-23 21:27:00,NaN,514450,175750,Dwelling,Self contained Sheltered Housing,False Alarm,247.0,Heston,2.0
14,HOUNSLOW,2017-04-27 08:32:00,W4 3BD,519450,178050,Other Residential,Retirement/Old Persons Home,False Alarm,190.0,Chiswick,2.0
15,NaN,2017-01-01 15:30:00,NaN,541450,194050,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,False Alarm,NaN,NaN,2.0
16,HAMMERSMITH AND FULHAM,2017-08-02 18:34:00,SW6 6PQ,523450,177050,Other Residential,Retirement/Old Persons Home,False Alarm,244.0,Fulham,2.0
17,BEXLEY,2017-02-25 15:06:00,NaN,545750,175250,Dwelling,House - single occupancy,Special Service,670.0,Eltham,1.0
18,MERTON,2017-04-15 07:10:00,SW19 1RF,524950,170550,Non Residential,Purpose built office,False Alarm,226.0,Wimbledon,2.0
19,BROMLEY,2017-03-26 18:30:00,BR5 4HQ,547550,166950,Outdoor,Tree scrub,Fire,321.0,Orpington,1.0
20,MERTON,2017-01-26 19:57:00,NaN,527950,170650,Dwelling,Converted Flat/Maisonettes - 3 or more storeys,Special Service,261.0,Norbury,1.0
21,ENFIELD,2017-08-03 08:35:00,N9 8NZ,534950,194550,Other Residential,Retirement/Old Persons Home,False Alarm,269.0,Edmonton,2.0
22,BROMLEY,2017-12-03 13:26:00,NaN,534850,169550,Dwelling,Self contained Sheltered Housing,Special Service,20.0,Woodside,1.0
23,CAMDEN,2017-04-29 04:09:00,NaN,529150,183750,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,417.0,Kentish Town,1.0
24,LAMBETH,2017-03-01 09:15:00,NaN,529650,171050,Dwelling,Converted Flat/Maisonette - Up to 2 storeys,Special Service,348.0,Tooting,1.0
25,LAMBETH,2017-03-29 11:13:00,SW16 1QL,529550,171650,Road Vehicle,Car,Special Service,317.0,Tooting,1.0
26,KINGSTON UPON THAMES,2017-01-20 14:47:00,KT6 4JZ,517950,167250,Outdoor Structure,Small refuse/rubbish container,Fire,575.0,Surbiton,1.0
27,SOUTHWARK,2017-03-03 18:55:00,SE5 7HN,532650,177050,Non Residential,Warehouse,False Alarm,269.0,Peckham,1.0
28,LAMBETH,2017-01-22 00:33:00,NaN,531350,175650,Dwelling,Purpose Built Flats/Maisonettes - 10 or more s...,Special Service,164.0,Brixton,1.0
29,NEWHAM,2017-01-20 21:29:00,NaN,541050,183950,Dwelling,Self contained Sheltered Housing,Fire,272.0,Stratford,2.0
30,ISLINGTON,2017-03-28 01:40:00,N1 0EP,531150,183850,Other Residential,Hostel (e.g. for homeless people),False Alarm,272.0,Euston,2.0
31,CROYDON,2017-03-01 08:29:00,NaN,532650,166850,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,388.0,Croydon,2.0
32,CAMDEN,2017-01-25 23:38:00,NaN,527150,185150,Dwelling,Converted Flat/Maisonettes - 3 or more storeys,Special Service,397.0,West Hampstead,2.0
33,LAMBETH,2017-04-25 23:35:00,NaN,529950,171150,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,250.0,Norbury,2.0
34,LAMBETH,2017-01-02 06:24:00,NaN,531350,175650,Dwelling,Self contained Sheltered Housing,False Alarm,142.0,Brixton,2.0
35,TOWER HAMLETS,2017-04-03 11:25:00,NaN,534050,182450,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,215.0,Bethnal Green,4.0
36,NEWHAM,2017-01-22 21:42:00,NaN,542450,185550,Dwelling,House - single occupancy,Special Service,389.0,Stratford,1.0
37,CROYDON,2017-09-04 15:36:00,NaN,532550,165950,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,NaN,NaN,1.0
38,KENSINGTON AND CHELSEA,2017-02-19 08:40:00,NaN,526150,178050,Dwelling,House - single occupancy,False Alarm,318.0,Fulham,2.0
39,SOUTHWARK,2017-01-30 14:19:00,NaN,532850,178550,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,304.0,Old Kent Road,2.0
40,KINGSTON UPON THAMES,2017-01-31 00:56:00,NaN,517850,169550,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,341.0,Kingston,2.0
41,BARNET,2017-05-01 17:23:00,NaN,526050,188350,Dwelling,House - single occupancy,False Alarm,552.0,Hendon,2.0
42,SOUTHWARK,2017-02-13 11:31:00,NaN,533650,178750,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,False Alarm,106.0,Old Kent Road,2.0
43,TOWER HAMLETS,2017-04-27 12:20:00,E2 7RU,533950,183050,Other Residential,Retirement/Old Persons Home,False Alarm,171.0,Shoreditch,1.0
44,BARNET,2017-02-18 21:38:00,NaN,525950,188650,Dwelling,House - single occupancy,Special Service,581.0,Finchley,1.0
45,ENFIELD,2017-02-18 18:57:00,N14 4NL,529250,195350,Road Vehicle,Car,Special Service,503.0,Barnet,2.0
46,ENFIELD,2017-01-15 10:42:00,EN1 1YP,534150,196550,Non Residential,Leisure Centre,False Alarm,419.0,Enfield,1.0
47,REDBRIDGE,2017-07-03 20:33:00,IG6 3TN,546550,192150,Non Residential,Secondary school,False Alarm,215.0,Hainault,1.0
48,BARNET,2017-02-15 16:43:00,N20 9LZ,526250,194350,Non Residential,Warehouse,False Alarm,495.0,Finchley,1.0
49,HILLINGDON,2017-08-02 17:17:00,NaN,507750,181550,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,336.0,Hillingdon,1.0

But we still need to deal with the fact that it is null.  Looking at the data, we see we have eastings and northings.  We can use this to look up the borough.  We could use something like: https://gridreferencefinder.com/, or there are software packages that will convert geographic coordinates to location names.  Here is [another resource](https://www.google.com/maps/d/u/0/viewer?ptab=2&ie=UTF8&oe=UTF8&msa=0&mid=1t4G7Q0brBWa2_kKwYyEtoxmCd60&ll=51.588246412761684%2C-0.12131868990172734&z=11) that shows the borough boundaries.

Looking up E 541450 N 194050, we see the coordinate is in Essex, just outside London, so we need to decide how to encode this.  Let's replace with "ESSEX":

In [10]:
setValue(df, 15, "borough_name", "ESSEX")

In [11]:
df

,borough_name,timestamp_of_call,postcode_full,easting_rounded,northing_rounded,property_category,property_type,incident_group,first_pump_arriving_attendance_time,first_pump_arriving_deployed_from_station,num_pumps_attending
0,CAMDEN,2017-01-20 08:57:00,W1T 7PD,529450,182050,Non Residential,Purpose built office,False Alarm,359.0,Euston,1.0
1,NEWHAM,2017-04-21 17:42:00,NaN,539650,183750,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,211.0,Stratford,1.0
2,WALTHAM FOREST,2017-01-20 18:21:00,E17 6RH,536950,189350,Non Residential,Local Government Office,Special Service,NaN,NaN,1.0
3,EALING,2017-07-03 11:27:00,W13 9YN,516650,180250,Non Residential,Underground car park,Special Service,295.0,Ealing,2.0
4,WANDSWORTH,2017-04-02 17:31:00,SW15 2SP,524250,174950,Non Residential,Pub/wine bar/bar,Special Service,533.0,Battersea,1.0
5,TOWER HAMLETS,2017-08-01 16:54:00,NaN,537350,181850,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Fire,247.0,Poplar,2.0
6,BROMLEY,2017-03-17 13:29:00,NaN,547750,168450,Dwelling,House - single occupancy,Fire,603.0,Orpington,4.0
7,LAMBETH,2017-01-26 17:25:00,SW4 9DT,529050,174650,Other Residential,Nursing/Care Home/Hospice,Special Service,342.0,Tooting,1.0
8,ENFIELD,2017-01-13 15:42:00,NaN,537450,198050,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,559.0,Enfield,1.0
9,HILLINGDON,2017-08-03 10:30:00,UB8 3QP,506850,182850,Other Residential,Hotel/motel,False Alarm,161.0,Hillingdon,1.0
10,BEXLEY,2017-02-19 00:15:00,DA14 6EN,546450,171650,Other Residential,Hotel/motel,False Alarm,205.0,Sidcup,1.0
11,ENFIELD,2017-02-04 12:03:00,NaN,534050,192050,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,273.0,Tottenham,1.0
12,HACKNEY,2017-02-23 14:36:00,NaN,532750,183650,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,339.0,Stoke Newington,1.0
13,HOUNSLOW,2017-04-23 21:27:00,NaN,514450,175750,Dwelling,Self contained Sheltered Housing,False Alarm,247.0,Heston,2.0
14,HOUNSLOW,2017-04-27 08:32:00,W4 3BD,519450,178050,Other Residential,Retirement/Old Persons Home,False Alarm,190.0,Chiswick,2.0
15,ESSEX,2017-01-01 15:30:00,NaN,541450,194050,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,False Alarm,NaN,NaN,2.0
16,HAMMERSMITH AND FULHAM,2017-08-02 18:34:00,SW6 6PQ,523450,177050,Other Residential,Retirement/Old Persons Home,False Alarm,244.0,Fulham,2.0
17,BEXLEY,2017-02-25 15:06:00,NaN,545750,175250,Dwelling,House - single occupancy,Special Service,670.0,Eltham,1.0
18,MERTON,2017-04-15 07:10:00,SW19 1RF,524950,170550,Non Residential,Purpose built office,False Alarm,226.0,Wimbledon,2.0
19,BROMLEY,2017-03-26 18:30:00,BR5 4HQ,547550,166950,Outdoor,Tree scrub,Fire,321.0,Orpington,1.0
20,MERTON,2017-01-26 19:57:00,NaN,527950,170650,Dwelling,Converted Flat/Maisonettes - 3 or more storeys,Special Service,261.0,Norbury,1.0
21,ENFIELD,2017-08-03 08:35:00,N9 8NZ,534950,194550,Other Residential,Retirement/Old Persons Home,False Alarm,269.0,Edmonton,2.0
22,BROMLEY,2017-12-03 13:26:00,NaN,534850,169550,Dwelling,Self contained Sheltered Housing,Special Service,20.0,Woodside,1.0
23,CAMDEN,2017-04-29 04:09:00,NaN,529150,183750,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,417.0,Kentish Town,1.0
24,LAMBETH,2017-03-01 09:15:00,NaN,529650,171050,Dwelling,Converted Flat/Maisonette - Up to 2 storeys,Special Service,348.0,Tooting,1.0
25,LAMBETH,2017-03-29 11:13:00,SW16 1QL,529550,171650,Road Vehicle,Car,Special Service,317.0,Tooting,1.0
26,KINGSTON UPON THAMES,2017-01-20 14:47:00,KT6 4JZ,517950,167250,Outdoor Structure,Small refuse/rubbish container,Fire,575.0,Surbiton,1.0
27,SOUTHWARK,2017-03-03 18:55:00,SE5 7HN,532650,177050,Non Residential,Warehouse,False Alarm,269.0,Peckham,1.0
28,LAMBETH,2017-01-22 00:33:00,NaN,531350,175650,Dwelling,Purpose Built Flats/Maisonettes - 10 or more s...,Special Service,164.0,Brixton,1.0
29,NEWHAM,2017-01-20 21:29:00,NaN,541050,183950,Dwelling,Self contained Sheltered Housing,Fire,272.0,Stratford,2.0
30,ISLINGTON,2017-03-28 01:40:00,N1 0EP,531150,183850,Other Residential,Hostel (e.g. for homeless people),False Alarm,272.0,Euston,2.0
31,CROYDON,2017-03-01 08:29:00,NaN,532650,166850,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,388.0,Croydon,2.0
32,CAMDEN,2017-01-25 23:38:00,NaN,527150,185150,Dwelling,Converted Flat/Maisonettes - 3 or more storeys,Special Service,397.0,West Hampstead,2.0
33,LAMBETH,2017-04-25 23:35:00,NaN,529950,171150,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,250.0,Norbury,2.0
34,LAMBETH,2017-01-02 06:24:00,NaN,531350,175650,Dwelling,Self contained Sheltered Housing,False Alarm,142.0,Brixton,2.0
35,TOWER HAMLETS,2017-04-03 11:25:00,NaN,534050,182450,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,215.0,Bethnal Green,4.0
36,NEWHAM,2017-01-22 21:42:00,NaN,542450,185550,Dwelling,House - single occupancy,Special Service,389.0,Stratford,1.0
37,CROYDON,2017-09-04 15:36:00,NaN,532550,165950,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,NaN,NaN,1.0
38,KENSINGTON AND CHELSEA,2017-02-19 08:40:00,NaN,526150,178050,Dwelling,House - single occupancy,False Alarm,318.0,Fulham,2.0
39,SOUTHWARK,2017-01-30 14:19:00,NaN,532850,178550,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,304.0,Old Kent Road,2.0
40,KINGSTON UPON THAMES,2017-01-31 00:56:00,NaN,517850,169550,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,341.0,Kingston,2.0
41,BARNET,2017-05-01 17:23:00,NaN,526050,188350,Dwelling,House - single occupancy,False Alarm,552.0,Hendon,2.0
42,SOUTHWARK,2017-02-13 11:31:00,NaN,533650,178750,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,False Alarm,106.0,Old Kent Road,2.0
43,TOWER HAMLETS,2017-04-27 12:20:00,E2 7RU,533950,183050,Other Residential,Retirement/Old Persons Home,False Alarm,171.0,Shoreditch,1.0
44,BARNET,2017-02-18 21:38:00,NaN,525950,188650,Dwelling,House - single occupancy,Special Service,581.0,Finchley,1.0
45,ENFIELD,2017-02-18 18:57:00,N14 4NL,529250,195350,Road Vehicle,Car,Special Service,503.0,Barnet,2.0
46,ENFIELD,2017-01-15 10:42:00,EN1 1YP,534150,196550,Non Residential,Leisure Centre,False Alarm,419.0,Enfield,1.0
47,REDBRIDGE,2017-07-03 20:33:00,IG6 3TN,546550,192150,Non Residential,Secondary school,False Alarm,215.0,Hainault,1.0
48,BARNET,2017-02-15 16:43:00,N20 9LZ,526250,194350,Non Residential,Warehouse,False Alarm,495.0,Finchley,1.0
49,HILLINGDON,2017-08-02 17:17:00,NaN,507750,181550,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,336.0,Hillingdon,1.0

We also have an issue with missing postcodes.  We can use the same approach, but with so many missing postcodes we would want to use an automated tool to find a postcode based on the easting and northing.  I won't do that now, but if I was doing this for real I would look into this further.

We have nulls in the attendance time.  Let's impute with the median:

In [12]:
df = imputeNullWithMedian(df, "first_pump_arriving_attendance_time")

We also have nulls in the first_pump_arriving_deployed_from_station column.  It would be hard to impute that based on other column data.  Our best bet is to look for the station closest to the incident (we would need to source a list of fire stations).  As I don't have that handy, I will impute with "UNKNOWN":

In [13]:
df = imputeNullWithValue(df, "first_pump_arriving_deployed_from_station", "UNKNOWN")

Let's check our situation:

In [14]:
checkForNulls(df)

borough_name                                 0.00
timestamp_of_call                            0.00
postcode_full                                0.58
easting_rounded                              0.00
northing_rounded                             0.00
property_category                            0.00
property_type                                0.00
incident_group                               0.00
first_pump_arriving_attendance_time          0.00
first_pump_arriving_deployed_from_station    0.00
num_pumps_attending                          0.00
dtype: float64

So apart from postcode (which we discussed above) everything else has had nulls removed.

## Feature engineering
Think about what feature engineering we need to do

In [15]:
# TODO

Let's split out the postcode (bearing in mind that we haven't yet replaced all the null postcodes):

In [16]:
df = splitFeatureOnSeparator(df, "postcode_full", " ", ["postcode1", "postcode2"])

In [17]:
df

,borough_name,timestamp_of_call,easting_rounded,northing_rounded,property_category,property_type,incident_group,first_pump_arriving_attendance_time,first_pump_arriving_deployed_from_station,num_pumps_attending,postcode1,postcode2
0,CAMDEN,2017-01-20 08:57:00,529450,182050,Non Residential,Purpose built office,False Alarm,359.0,Euston,1.0,W1T,7PD
1,NEWHAM,2017-04-21 17:42:00,539650,183750,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,211.0,Stratford,1.0,NaN,NaN
2,WALTHAM FOREST,2017-01-20 18:21:00,536950,189350,Non Residential,Local Government Office,Special Service,304.0,UNKNOWN,1.0,E17,6RH
3,EALING,2017-07-03 11:27:00,516650,180250,Non Residential,Underground car park,Special Service,295.0,Ealing,2.0,W13,9YN
4,WANDSWORTH,2017-04-02 17:31:00,524250,174950,Non Residential,Pub/wine bar/bar,Special Service,533.0,Battersea,1.0,SW15,2SP
5,TOWER HAMLETS,2017-08-01 16:54:00,537350,181850,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Fire,247.0,Poplar,2.0,NaN,NaN
6,BROMLEY,2017-03-17 13:29:00,547750,168450,Dwelling,House - single occupancy,Fire,603.0,Orpington,4.0,NaN,NaN
7,LAMBETH,2017-01-26 17:25:00,529050,174650,Other Residential,Nursing/Care Home/Hospice,Special Service,342.0,Tooting,1.0,SW4,9DT
8,ENFIELD,2017-01-13 15:42:00,537450,198050,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,559.0,Enfield,1.0,NaN,NaN
9,HILLINGDON,2017-08-03 10:30:00,506850,182850,Other Residential,Hotel/motel,False Alarm,161.0,Hillingdon,1.0,UB8,3QP
10,BEXLEY,2017-02-19 00:15:00,546450,171650,Other Residential,Hotel/motel,False Alarm,205.0,Sidcup,1.0,DA14,6EN
11,ENFIELD,2017-02-04 12:03:00,534050,192050,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,273.0,Tottenham,1.0,NaN,NaN
12,HACKNEY,2017-02-23 14:36:00,532750,183650,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,339.0,Stoke Newington,1.0,NaN,NaN
13,HOUNSLOW,2017-04-23 21:27:00,514450,175750,Dwelling,Self contained Sheltered Housing,False Alarm,247.0,Heston,2.0,NaN,NaN
14,HOUNSLOW,2017-04-27 08:32:00,519450,178050,Other Residential,Retirement/Old Persons Home,False Alarm,190.0,Chiswick,2.0,W4,3BD
15,ESSEX,2017-01-01 15:30:00,541450,194050,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,False Alarm,304.0,UNKNOWN,2.0,NaN,NaN
16,HAMMERSMITH AND FULHAM,2017-08-02 18:34:00,523450,177050,Other Residential,Retirement/Old Persons Home,False Alarm,244.0,Fulham,2.0,SW6,6PQ
17,BEXLEY,2017-02-25 15:06:00,545750,175250,Dwelling,House - single occupancy,Special Service,670.0,Eltham,1.0,NaN,NaN
18,MERTON,2017-04-15 07:10:00,524950,170550,Non Residential,Purpose built office,False Alarm,226.0,Wimbledon,2.0,SW19,1RF
19,BROMLEY,2017-03-26 18:30:00,547550,166950,Outdoor,Tree scrub,Fire,321.0,Orpington,1.0,BR5,4HQ
20,MERTON,2017-01-26 19:57:00,527950,170650,Dwelling,Converted Flat/Maisonettes - 3 or more storeys,Special Service,261.0,Norbury,1.0,NaN,NaN
21,ENFIELD,2017-08-03 08:35:00,534950,194550,Other Residential,Retirement/Old Persons Home,False Alarm,269.0,Edmonton,2.0,N9,8NZ
22,BROMLEY,2017-12-03 13:26:00,534850,169550,Dwelling,Self contained Sheltered Housing,Special Service,20.0,Woodside,1.0,NaN,NaN
23,CAMDEN,2017-04-29 04:09:00,529150,183750,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,417.0,Kentish Town,1.0,NaN,NaN
24,LAMBETH,2017-03-01 09:15:00,529650,171050,Dwelling,Converted Flat/Maisonette - Up to 2 storeys,Special Service,348.0,Tooting,1.0,NaN,NaN
25,LAMBETH,2017-03-29 11:13:00,529550,171650,Road Vehicle,Car,Special Service,317.0,Tooting,1.0,SW16,1QL
26,KINGSTON UPON THAMES,2017-01-20 14:47:00,517950,167250,Outdoor Structure,Small refuse/rubbish container,Fire,575.0,Surbiton,1.0,KT6,4JZ
27,SOUTHWARK,2017-03-03 18:55:00,532650,177050,Non Residential,Warehouse,False Alarm,269.0,Peckham,1.0,SE5,7HN
28,LAMBETH,2017-01-22 00:33:00,531350,175650,Dwelling,Purpose Built Flats/Maisonettes - 10 or more s...,Special Service,164.0,Brixton,1.0,NaN,NaN
29,NEWHAM,2017-01-20 21:29:00,541050,183950,Dwelling,Self contained Sheltered Housing,Fire,272.0,Stratford,2.0,NaN,NaN
30,ISLINGTON,2017-03-28 01:40:00,531150,183850,Other Residential,Hostel (e.g. for homeless people),False Alarm,272.0,Euston,2.0,N1,0EP
31,CROYDON,2017-03-01 08:29:00,532650,166850,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,388.0,Croydon,2.0,NaN,NaN
32,CAMDEN,2017-01-25 23:38:00,527150,185150,Dwelling,Converted Flat/Maisonettes - 3 or more storeys,Special Service,397.0,West Hampstead,2.0,NaN,NaN
33,LAMBETH,2017-04-25 23:35:00,529950,171150,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,250.0,Norbury,2.0,NaN,NaN
34,LAMBETH,2017-01-02 06:24:00,531350,175650,Dwelling,Self contained Sheltered Housing,False Alarm,142.0,Brixton,2.0,NaN,NaN
35,TOWER HAMLETS,2017-04-03 11:25:00,534050,182450,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,215.0,Bethnal Green,4.0,NaN,NaN
36,NEWHAM,2017-01-22 21:42:00,542450,185550,Dwelling,House - single occupancy,Special Service,389.0,Stratford,1.0,NaN,NaN
37,CROYDON,2017-09-04 15:36:00,532550,165950,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,304.0,UNKNOWN,1.0,NaN,NaN
38,KENSINGTON AND CHELSEA,2017-02-19 08:40:00,526150,178050,Dwelling,House - single occupancy,False Alarm,318.0,Fulham,2.0,NaN,NaN
39,SOUTHWARK,2017-01-30 14:19:00,532850,178550,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,304.0,Old Kent Road,2.0,NaN,NaN
40,KINGSTON UPON THAMES,2017-01-31 00:56:00,517850,169550,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,341.0,Kingston,2.0,NaN,NaN
41,BARNET,2017-05-01 17:23:00,526050,188350,Dwelling,House - single occupancy,False Alarm,552.0,Hendon,2.0,NaN,NaN
42,SOUTHWARK,2017-02-13 11:31:00,533650,178750,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,False Alarm,106.0,Old Kent Road,2.0,NaN,NaN
43,TOWER HAMLETS,2017-04-27 12:20:00,533950,183050,Other Residential,Retirement/Old Persons Home,False Alarm,171.0,Shoreditch,1.0,E2,7RU
44,BARNET,2017-02-18 21:38:00,525950,188650,Dwelling,House - single occupancy,Special Service,581.0,Finchley,1.0,NaN,NaN
45,ENFIELD,2017-02-18 18:57:00,529250,195350,Road Vehicle,Car,Special Service,503.0,Barnet,2.0,N14,4NL
46,ENFIELD,2017-01-15 10:42:00,534150,196550,Non Residential,Leisure Centre,False Alarm,419.0,Enfield,1.0,EN1,1YP
47,REDBRIDGE,2017-07-03 20:33:00,546550,192150,Non Residential,Secondary school,False Alarm,215.0,Hainault,1.0,IG6,3TN
48,BARNET,2017-02-15 16:43:00,526250,194350,Non Residential,Warehouse,False Alarm,495.0,Finchley,1.0,N20,9LZ
49,HILLINGDON,2017-08-02 17:17:00,507750,181550,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,336.0,Hillingdon,1.0,NaN,NaN

Let's also split out the call date and time:

In [18]:
df = splitFeatureDate(df, "timestamp_of_call")

In [19]:
df

,borough_name,easting_rounded,northing_rounded,property_category,property_type,incident_group,first_pump_arriving_attendance_time,first_pump_arriving_deployed_from_station,num_pumps_attending,postcode1,postcode2,timestamp_of_call_day,timestamp_of_call_month,timestamp_of_call_year,timestamp_of_call_weekday,timestamp_of_call_hour,timestamp_of_call_minute
0,CAMDEN,529450,182050,Non Residential,Purpose built office,False Alarm,359.0,Euston,1.0,W1T,7PD,20,1,2017,4,8,57
1,NEWHAM,539650,183750,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,211.0,Stratford,1.0,NaN,NaN,21,4,2017,4,17,42
2,WALTHAM FOREST,536950,189350,Non Residential,Local Government Office,Special Service,304.0,UNKNOWN,1.0,E17,6RH,20,1,2017,4,18,21
3,EALING,516650,180250,Non Residential,Underground car park,Special Service,295.0,Ealing,2.0,W13,9YN,3,7,2017,0,11,27
4,WANDSWORTH,524250,174950,Non Residential,Pub/wine bar/bar,Special Service,533.0,Battersea,1.0,SW15,2SP,2,4,2017,6,17,31
5,TOWER HAMLETS,537350,181850,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Fire,247.0,Poplar,2.0,NaN,NaN,1,8,2017,1,16,54
6,BROMLEY,547750,168450,Dwelling,House - single occupancy,Fire,603.0,Orpington,4.0,NaN,NaN,17,3,2017,4,13,29
7,LAMBETH,529050,174650,Other Residential,Nursing/Care Home/Hospice,Special Service,342.0,Tooting,1.0,SW4,9DT,26,1,2017,3,17,25
8,ENFIELD,537450,198050,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,559.0,Enfield,1.0,NaN,NaN,13,1,2017,4,15,42
9,HILLINGDON,506850,182850,Other Residential,Hotel/motel,False Alarm,161.0,Hillingdon,1.0,UB8,3QP,3,8,2017,3,10,30
10,BEXLEY,546450,171650,Other Residential,Hotel/motel,False Alarm,205.0,Sidcup,1.0,DA14,6EN,19,2,2017,6,0,15
11,ENFIELD,534050,192050,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,273.0,Tottenham,1.0,NaN,NaN,4,2,2017,5,12,3
12,HACKNEY,532750,183650,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,339.0,Stoke Newington,1.0,NaN,NaN,23,2,2017,3,14,36
13,HOUNSLOW,514450,175750,Dwelling,Self contained Sheltered Housing,False Alarm,247.0,Heston,2.0,NaN,NaN,23,4,2017,6,21,27
14,HOUNSLOW,519450,178050,Other Residential,Retirement/Old Persons Home,False Alarm,190.0,Chiswick,2.0,W4,3BD,27,4,2017,3,8,32
15,ESSEX,541450,194050,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,False Alarm,304.0,UNKNOWN,2.0,NaN,NaN,1,1,2017,6,15,30
16,HAMMERSMITH AND FULHAM,523450,177050,Other Residential,Retirement/Old Persons Home,False Alarm,244.0,Fulham,2.0,SW6,6PQ,2,8,2017,2,18,34
17,BEXLEY,545750,175250,Dwelling,House - single occupancy,Special Service,670.0,Eltham,1.0,NaN,NaN,25,2,2017,5,15,6
18,MERTON,524950,170550,Non Residential,Purpose built office,False Alarm,226.0,Wimbledon,2.0,SW19,1RF,15,4,2017,5,7,10
19,BROMLEY,547550,166950,Outdoor,Tree scrub,Fire,321.0,Orpington,1.0,BR5,4HQ,26,3,2017,6,18,30
20,MERTON,527950,170650,Dwelling,Converted Flat/Maisonettes - 3 or more storeys,Special Service,261.0,Norbury,1.0,NaN,NaN,26,1,2017,3,19,57
21,ENFIELD,534950,194550,Other Residential,Retirement/Old Persons Home,False Alarm,269.0,Edmonton,2.0,N9,8NZ,3,8,2017,3,8,35
22,BROMLEY,534850,169550,Dwelling,Self contained Sheltered Housing,Special Service,20.0,Woodside,1.0,NaN,NaN,3,12,2017,6,13,26
23,CAMDEN,529150,183750,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,417.0,Kentish Town,1.0,NaN,NaN,29,4,2017,5,4,9
24,LAMBETH,529650,171050,Dwelling,Converted Flat/Maisonette - Up to 2 storeys,Special Service,348.0,Tooting,1.0,NaN,NaN,1,3,2017,2,9,15
25,LAMBETH,529550,171650,Road Vehicle,Car,Special Service,317.0,Tooting,1.0,SW16,1QL,29,3,2017,2,11,13
26,KINGSTON UPON THAMES,517950,167250,Outdoor Structure,Small refuse/rubbish container,Fire,575.0,Surbiton,1.0,KT6,4JZ,20,1,2017,4,14,47
27,SOUTHWARK,532650,177050,Non Residential,Warehouse,False Alarm,269.0,Peckham,1.0,SE5,7HN,3,3,2017,4,18,55
28,LAMBETH,531350,175650,Dwelling,Purpose Built Flats/Maisonettes - 10 or more s...,Special Service,164.0,Brixton,1.0,NaN,NaN,22,1,2017,6,0,33
29,NEWHAM,541050,183950,Dwelling,Self contained Sheltered Housing,Fire,272.0,Stratford,2.0,NaN,NaN,20,1,2017,4,21,29
30,ISLINGTON,531150,183850,Other Residential,Hostel (e.g. for homeless people),False Alarm,272.0,Euston,2.0,N1,0EP,28,3,2017,1,1,40
31,CROYDON,532650,166850,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,388.0,Croydon,2.0,NaN,NaN,1,3,2017,2,8,29
32,CAMDEN,527150,185150,Dwelling,Converted Flat/Maisonettes - 3 or more storeys,Special Service,397.0,West Hampstead,2.0,NaN,NaN,25,1,2017,2,23,38
33,LAMBETH,529950,171150,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,250.0,Norbury,2.0,NaN,NaN,25,4,2017,1,23,35
34,LAMBETH,531350,175650,Dwelling,Self contained Sheltered Housing,False Alarm,142.0,Brixton,2.0,NaN,NaN,2,1,2017,0,6,24
35,TOWER HAMLETS,534050,182450,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,215.0,Bethnal Green,4.0,NaN,NaN,3,4,2017,0,11,25
36,NEWHAM,542450,185550,Dwelling,House - single occupancy,Special Service,389.0,Stratford,1.0,NaN,NaN,22,1,2017,6,21,42
37,CROYDON,532550,165950,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Special Service,304.0,UNKNOWN,1.0,NaN,NaN,4,9,2017,0,15,36
38,KENSINGTON AND CHELSEA,526150,178050,Dwelling,House - single occupancy,False Alarm,318.0,Fulham,2.0,NaN,NaN,19,2,2017,6,8,40
39,SOUTHWARK,532850,178550,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,304.0,Old Kent Road,2.0,NaN,NaN,30,1,2017,0,14,19
40,KINGSTON UPON THAMES,517850,169550,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,False Alarm,341.0,Kingston,2.0,NaN,NaN,31,1,2017,1,0,56
41,BARNET,526050,188350,Dwelling,House - single occupancy,False Alarm,552.0,Hendon,2.0,NaN,NaN,1,5,2017,0,17,23
42,SOUTHWARK,533650,178750,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,False Alarm,106.0,Old Kent Road,2.0,NaN,NaN,13,2,2017,0,11,31
43,TOWER HAMLETS,533950,183050,Other Residential,Retirement/Old Persons Home,False Alarm,171.0,Shoreditch,1.0,E2,7RU,27,4,2017,3,12,20
44,BARNET,525950,188650,Dwelling,House - single occupancy,Special Service,581.0,Finchley,1.0,NaN,NaN,18,2,2017,5,21,38
45,ENFIELD,529250,195350,Road Vehicle,Car,Special Service,503.0,Barnet,2.0,N14,4NL,18,2,2017,5,18,57
46,ENFIELD,534150,196550,Non Residential,Leisure Centre,False Alarm,419.0,Enfield,1.0,EN1,1YP,15,1,2017,6,10,42
47,REDBRIDGE,546550,192150,Non Residential,Secondary school,False Alarm,215.0,Hainault,1.0,IG6,3TN,3,7,2017,0,20,33
48,BARNET,526250,194350,Non Residential,Warehouse,False Alarm,495.0,Finchley,1.0,N20,9LZ,15,2,2017,2,16,43
49,HILLINGDON,507750,181550,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 storeys,Special Service,336.0,Hillingdon,1.0,NaN,NaN,2,8,2017,2,17,17

We may also want to one-hot-encode any features we want to use to build our models:

In [20]:
df = oneHotEncode(df, ["incident_group"])

In [21]:
df = oneHotEncode(df, ["property_category"])

In [22]:
df = oneHotEncode(df, ["borough_name"])

In [23]:
df

,easting_rounded,northing_rounded,property_type,first_pump_arriving_attendance_time,first_pump_arriving_deployed_from_station,num_pumps_attending,postcode1,postcode2,timestamp_of_call_day,timestamp_of_call_month,...,borough_name_KENSINGTON AND CHELSEA,borough_name_KINGSTON UPON THAMES,borough_name_LAMBETH,borough_name_MERTON,borough_name_NEWHAM,borough_name_REDBRIDGE,borough_name_SOUTHWARK,borough_name_TOWER HAMLETS,borough_name_WALTHAM FOREST,borough_name_WANDSWORTH
0,529450,182050,Purpose built office,359.0,Euston,1.0,W1T,7PD,20,1,...,0,0,0,0,0,0,0,0,0,0
1,539650,183750,Purpose Built Flats/Maisonettes - Up to 3 storeys,211.0,Stratford,1.0,NaN,NaN,21,4,...,0,0,0,0,1,0,0,0,0,0
2,536950,189350,Local Government Office,304.0,UNKNOWN,1.0,E17,6RH,20,1,...,0,0,0,0,0,0,0,0,1,0
3,516650,180250,Underground car park,295.0,Ealing,2.0,W13,9YN,3,7,...,0,0,0,0,0,0,0,0,0,0
4,524250,174950,Pub/wine bar/bar,533.0,Battersea,1.0,SW15,2SP,2,4,...,0,0,0,0,0,0,0,0,0,1
5,537350,181850,Purpose Built Flats/Maisonettes - 4 to 9 storeys,247.0,Poplar,2.0,NaN,NaN,1,8,...,0,0,0,0,0,0,0,1,0,0
6,547750,168450,House - single occupancy,603.0,Orpington,4.0,NaN,NaN,17,3,...,0,0,0,0,0,0,0,0,0,0
7,529050,174650,Nursing/Care Home/Hospice,342.0,Tooting,1.0,SW4,9DT,26,1,...,0,0,1,0,0,0,0,0,0,0
8,537450,198050,Purpose Built Flats/Maisonettes - Up to 3 storeys,559.0,Enfield,1.0,NaN,NaN,13,1,...,0,0,0,0,0,0,0,0,0,0
9,506850,182850,Hotel/motel,161.0,Hillingdon,1.0,UB8,3QP,3,8,...,0,0,0,0,0,0,0,0,0,0
10,546450,171650,Hotel/motel,205.0,Sidcup,1.0,DA14,6EN,19,2,...,0,0,0,0,0,0,0,0,0,0
11,534050,192050,Purpose Built Flats/Maisonettes - 4 to 9 storeys,273.0,Tottenham,1.0,NaN,NaN,4,2,...,0,0,0,0,0,0,0,0,0,0
12,532750,183650,Purpose Built Flats/Maisonettes - 4 to 9 storeys,339.0,Stoke Newington,1.0,NaN,NaN,23,2,...,0,0,0,0,0,0,0,0,0,0
13,514450,175750,Self contained Sheltered Housing,247.0,Heston,2.0,NaN,NaN,23,4,...,0,0,0,0,0,0,0,0,0,0
14,519450,178050,Retirement/Old Persons Home,190.0,Chiswick,2.0,W4,3BD,27,4,...,0,0,0,0,0,0,0,0,0,0
15,541450,194050,Purpose Built Flats/Maisonettes - Up to 3 storeys,304.0,UNKNOWN,2.0,NaN,NaN,1,1,...,0,0,0,0,0,0,0,0,0,0
16,523450,177050,Retirement/Old Persons Home,244.0,Fulham,2.0,SW6,6PQ,2,8,...,0,0,0,0,0,0,0,0,0,0
17,545750,175250,House - single occupancy,670.0,Eltham,1.0,NaN,NaN,25,2,...,0,0,0,0,0,0,0,0,0,0
18,524950,170550,Purpose built office,226.0,Wimbledon,2.0,SW19,1RF,15,4,...,0,0,0,1,0,0,0,0,0,0
19,547550,166950,Tree scrub,321.0,Orpington,1.0,BR5,4HQ,26,3,...,0,0,0,0,0,0,0,0,0,0
20,527950,170650,Converted Flat/Maisonettes - 3 or more storeys,261.0,Norbury,1.0,NaN,NaN,26,1,...,0,0,0,1,0,0,0,0,0,0
21,534950,194550,Retirement/Old Persons Home,269.0,Edmonton,2.0,N9,8NZ,3,8,...,0,0,0,0,0,0,0,0,0,0
22,534850,169550,Self contained Sheltered Housing,20.0,Woodside,1.0,NaN,NaN,3,12,...,0,0,0,0,0,0,0,0,0,0
23,529150,183750,Purpose Built Flats/Maisonettes - 4 to 9 storeys,417.0,Kentish Town,1.0,NaN,NaN,29,4,...,0,0,0,0,0,0,0,0,0,0
24,529650,171050,Converted Flat/Maisonette - Up to 2 storeys,348.0,Tooting,1.0,NaN,NaN,1,3,...,0,0,1,0,0,0,0,0,0,0
25,529550,171650,Car,317.0,Tooting,1.0,SW16,1QL,29,3,...,0,0,1,0,0,0,0,0,0,0
26,517950,167250,Small refuse/rubbish container,575.0,Surbiton,1.0,KT6,4JZ,20,1,...,0,1,0,0,0,0,0,0,0,0
27,532650,177050,Warehouse,269.0,Peckham,1.0,SE5,7HN,3,3,...,0,0,0,0,0,0,1,0,0,0
28,531350,175650,Purpose Built Flats/Maisonettes - 10 or more s...,164.0,Brixton,1.0,NaN,NaN,22,1,...,0,0,1,0,0,0,0,0,0,0
29,541050,183950,Self contained Sheltered Housing,272.0,Stratford,2.0,NaN,NaN,20,1,...,0,0,0,0,1,0,0,0,0,0
30,531150,183850,Hostel (e.g. for homeless people),272.0,Euston,2.0,N1,0EP,28,3,...,0,0,0,0,0,0,0,0,0,0
31,532650,166850,Purpose Built Flats/Maisonettes - 4 to 9 storeys,388.0,Croydon,2.0,NaN,NaN,1,3,...,0,0,0,0,0,0,0,0,0,0
32,527150,185150,Converted Flat/Maisonettes - 3 or more storeys,397.0,West Hampstead,2.0,NaN,NaN,25,1,...,0,0,0,0,0,0,0,0,0,0
33,529950,171150,Purpose Built Flats/Maisonettes - 4 to 9 storeys,250.0,Norbury,2.0,NaN,NaN,25,4,...,0,0,1,0,0,0,0,0,0,0
34,531350,175650,Self contained Sheltered Housing,142.0,Brixton,2.0,NaN,NaN,2,1,...,0,0,1,0,0,0,0,0,0,0
35,534050,182450,Purpose Built Flats/Maisonettes - 4 to 9 storeys,215.0,Bethnal Green,4.0,NaN,NaN,3,4,...,0,0,0,0,0,0,0,1,0,0
36,542450,185550,House - single occupancy,389.0,Stratford,1.0,NaN,NaN,22,1,...,0,0,0,0,1,0,0,0,0,0
37,532550,165950,Purpose Built Flats/Maisonettes - 4 to 9 storeys,304.0,UNKNOWN,1.0,NaN,NaN,4,9,...,0,0,0,0,0,0,0,0,0,0
38,526150,178050,House - single occupancy,318.0,Fulham,2.0,NaN,NaN,19,2,...,1,0,0,0,0,0,0,0,0,0
39,532850,178550,Purpose Built Flats/Maisonettes - 4 to 9 storeys,304.0,Old Kent Road,2.0,NaN,NaN,30,1,...,0,0,0,0,0,0,1,0,0,0
40,517850,169550,Purpose Built Flats/Maisonettes - 4 to 9 storeys,341.0,Kingston,2.0,NaN,NaN,31,1,...,0,1,0,0,0,0,0,0,0,0
41,526050,188350,House - single occupancy,552.0,Hendon,2.0,NaN,NaN,1,5,...,0,0,0,0,0,0,0,0,0,0
42,533650,178750,Purpose Built Flats/Maisonettes - Up to 3 storeys,106.0,Old Kent Road,2.0,NaN,NaN,13,2,...,0,0,0,0,0,0,1,0,0,0
43,533950,183050,Retirement/Old Persons Home,171.0,Shoreditch,1.0,E2,7RU,27,4,...,0,0,0,0,0,0,0,1,0,0
44,525950,188650,House - single occupancy,581.0,Finchley,1.0,NaN,NaN,18,2,...,0,0,0,0,0,0,0,0,0,0
45,529250,195350,Car,503.0,Barnet,2.0,N14,4NL,18,2,...,0,0,0,0,0,0,0,0,0,0
46,534150,196550,Leisure Centre,419.0,Enfield,1.0,EN1,1YP,15,1,...,0,0,0,0,0,0,0,0,0,0
47,546550,192150,Secondary school,215.0,Hainault,1.0,IG6,3TN,3,7,...,0,0,0,0,0,1,0,0,0,0
48,526250,194350,Warehouse,495.0,Finchley,1.0,N20,9LZ,15,2,...,0,0,0,0,0,0,0,0,0,0
49,507750,181550,Purpose Built Flats/Maisonettes - Up to 3 storeys,336.0,Hillingdon,1.0,NaN,NaN,2,8,...,0,0,0,0,0,0,0,0,0,0

There are other columns we could one-hot-encode if we decide to use them for our model.